@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

body {
  font-family: 'Spectral', serif;
  margin:0;
  padding: 0;
  font-weight: 600;
  overflow: scroll !important;
  background-color: black;
}